<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles.css">
		<title>Gerenciador de Eventos</title>
	</head>
	<body>
		<div class="container">
			<h1>Gerenciador de Eventos</h1>
			<form id="formEvent">
				<input type="text" id="idEvent" hidden />
				<input type="text" placeholder="Titulo" id="titleEvent" name="titleEvent" />
				<input type="text" placeholder="Descrição" id="description" name="description" />
				<input type="datetime-local" name="data" id="data" />
				<input type="text" placeholder="Local do Evento" id="locationEvent" name="locationEvent" />
				<input type="" name="amount" id="amount" placeholder="Valor" />
				<button>Cadastrar Evento</button>
			</form>
		</div>

		<div id="eventos">
			<ul id="listaEvents"></ul>
		</div>
		<script src="./script.js"></script>
	</body>
</html>
