<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Locadora de Carros</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Locadora de Carros</h1>
        </header>
        <main>
            <section class="buttons">
                <a href="/cadastrarCliente">
                    <button>Cadastrar Pessoas</button>
                </a>
                <a href="/cadastrarCarro">
                    <button>Cadastrar Carros</button>
                </a>
                <a href="/cadastrarAluguel">
                    <button>Cadastrar Aluguel</button>
                </a>
            </section>
        </main>
    </div>
</body>
</html>