* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #272727;
	color: #fff;
	width: 100vw;
}

#form {
	width: 35rem;
	background-color: #fff;
	margin-inline: auto;
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 1rem;

	& h1 {
		text-align: center;
		color: #272727;
	}
}

form {
	display: flex;
	justify-content: space-between;
	align-items: end;
	gap: 0.3rem;

	margin-top: 1rem;
	margin-inline: auto;

	background-color: #fff;
	color: #272727;

	& .input-wrap {
		display: flex;
		flex-direction: column;
		& input {
			width: max-content;
			height: 2rem;
			padding-left: 0.5rem;
		}
	}

	& button {
		width: 8rem;
		height: 2rem;
		background-color: rgb(0, 255, 26);
		border: 1px solid rgb(0, 163, 16);
		border-radius: 0.2rem;
		transition: 0.2s;
	}

	& button:hover {
		background-color: rgb(0, 163, 16);
		border: 1px solid rgb(0, 255, 26);
		color: #fff;
		transition: 0.2s;
	}
}

#listItems {
	margin-top: 1rem;
	width: 35rem;
	margin-inline: auto;
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	& li {
		background-color: #fff;
		padding: 1rem;
		color: #272727;

		display: flex;
		justify-content: space-between;

		border-radius: 1rem;

		& .liRight {
			display: flex;
			align-items: center;
			gap: 1rem;

			& button {
				width: 4rem;
				height: 1.5rem;
			}

			& button:nth-child(1) {
				background-color: rgb(0, 110, 255);
				color: #fff;
				border: 1px solid rgb(1, 61, 139);
				border-radius: 0.2rem;
			}

			& button:nth-child(1):hover {
				background-color: rgb(1, 61, 139);
				border: 1px solid rgb(0, 110, 255);
			}

			& button:nth-child(2) {
				background-color: rgb(255, 0, 0);
				color: #fff;
				border: 1px solid rgb(139, 1, 1);
				border-radius: 0.2rem;
			}
			& button:nth-child(2):hover {
				background-color: rgb(139, 1, 1);
				border: 1px solid rgb(255, 0, 0);
			}
		}
	}
}
